<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="ShoesDBEntities" connectionString="metadata=res://*/ShoesDataEntity.csdl|res://*/ShoesDataEntity.ssdl|res://*/ShoesDataEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=D:\workspace\ShoesProject\Systems.Appollo.Shooes.DB\ShoesDB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

</configuration>