<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Systems.Appollo.Shoes.Data.Properties.Settings.ShoesDBConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\workspace\ShoesProject\Systems.Appollo.Shooes.DB\ShoesDB.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ShoesDBEntities" connectionString="metadata=res://*/ShoesDataEntity.csdl|res://*/ShoesDataEntity.ssdl|res://*/ShoesDataEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=D:\workspace\ShoesProject\Systems.Appollo.Shooes.DB\ShoesDB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>